* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 3rem;
    display: flex;
    flex-flow: column;
    font-family: 'Arial', sans-serif;
}

nav {
    padding: 1rem;
    background-color: #212423ff;
    color: white;
    font-size: 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    /* text-align: center; */
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

.banner {
    display: block;
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    object-fit: cover;
}